.blue {
    background: blue;
    color: white;
    border: 2px white dashed;
    height: 100px;
    width: 200px;
    position: fixed;
    top: 100px;
   
    
    z-index: 2;
    opacity: 0.6;
    
}

#white {
    background: red;
    color:yellow;
    border: 2px dashed;
    height: 10000px;
    width: 200px;
    position: absolute;
   
    
    z-index: 1;
    
    
}

